:root {
  --nmshd-orange: #ea7415;
  --nmshd-orange-dark: #e36c18;
  --nmshd-blue: #17468d;
  --nmshd-blue-dark: #113f88;
  --nmshd-grey: #cccccc;
  --layout-grey: #c0c0c0;
  --layout-grey-dark: #b8b8b8;
  --forcegraph-link-color: #d0d0d0;
  --forcegraph-link-color-highlighted: #707070;
  --forcegraph-link-particle-width: 4;
  --forcegraph-node-radius: 4;
}

html {
  /* Force scrollbar to be visible at all times so that our centered layout
   * doesn't shift its position when switching between pages with and without
   * scrollbars. */
  overflow-y: scroll;
}

.dropbtn {
  background-color: var(--layout-grey);
  color: white;
  padding: 2px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  min-width: 50px;
  width: auto;
  z-index: 2;
}

.dropdown {
  position: relative;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 2;
  top: 100%;
  left: 0;
}

.dropdown-content div:hover {
  background-color: #dfdfdf;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--layout-grey-dark);
}

.page-link {
  display: inline-block;
  padding: 0.5em;
  margin: 0 0.5em 1em 0;
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  color: black;
}

.page-link:hover {
  background: var(--nmshd-grey);
}

[class="page-link active"] {
  background-color: var(--nmshd-grey);
}

.page-container {
  width: 90%;
  margin: auto;
}

h1#dashboard-title {
  text-align: center;
}

div#page-links {
  margin: auto;
  text-align: center;
}

.graph-div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 1em;
  border-bottom: 1px solid #c0c0c0;
}

.modebar-container {
  z-index: 1;
}

label {
  border: 1px solid #a0a0a0;
  background-color: #e0e0e0;
}

.plot-title {
  font-size: x-large;
  margin-left: 1em;
}

.plot-header {
  display: flex;
  align-items: center;
  padding: 0.25em;
}

#forcegraph-hoverinfo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;

  > #forcegraph-hoverinfo-content {
    > h1 {
      font-size: 1.2em;
      margin-bottom: 0.25em;
      margin-top: 0;
    }

    > table {
      border-collapse: collapse;
      width: 100%;

      & th {
        text-align: left;
        padding-right: 1em;
      }

      & td {
        text-align: left;
      }
    }
  }

  > #forcegraph-hoverinfo-copy-info-text {
    color: #909090;
  }
}
